body {
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: lightgrey;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: whitesmoke;
}

.active {
    background-color: #04AA6D;
    color: whitesmoke;
}

.aboutme {
    width: 500px;
    text-align: justify;
    padding-left: 100px;
    padding-top: 20px;
    float:left;
}

.pinturas {
    width: 300px;
    text-align: justify;
    padding-left: 100px;
    padding-top: 20px;
    float:left;
}

.desenhos {
    width: 300px;
    text-align: justify;
    padding-left: 100px;
    padding-top: 20px;
    float:left;
}

.homeimg {
    float:left;
    padding-left: 100px;
}

.imagens {
    float: left;
    padding: 40px 30px;
}


/*
footer {
    display: block;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
} */